body{
  margin-right: 0;
  padding: 0;
  display: grid;
}

main{
  display: grid;
  justify-content: center;
  align-items: center;
  
}

/* Parte 1 - Main  */

.bg-image{
  background-image: url(https://images.unsplash.com/photo-1612917421349-94b2180fc30a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
  background-size: cover;
  background-repeat: no repeat;
  height: 50vw;
  opacity: .8;
}

#topo{
  display: grid;
  color: #ba9173; 
  text-align: center;
}

h1{
  font-family: 'Parisienne', cursive;
  font-size: 4rem;
  margin-top: 12vmin;
}

h2{
  font-family: 'Parisienne', cursive;
  font-size: 3rem;
}

#topo p{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  font-size: 2rem;
  margin: 0;
}

/* Navbar  */

.nav-background{
  background: rgba(214, 179, 154, 0.8);
  height: 9vmin;
}

.navbar-text-style{
  color: #715b4b !important;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

/* Carousel */

.carousel-style{
  width: 150vmin !important;
  opacity: .8;
  margin: auto !important;
  padding: 5vmin;
}

/* Sobre o Casal  */

#sobre{
  margin: auto;
  text-align: center;
  background: rgb(214, 179, 154);
  opacity:.8;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  padding-top: 10vmin;
}

#sobre p{
  padding: 5vmin;
}

/* Info - Cerimônia */

#info{
  background:#F2E1E1;
  color: rgb(186, 145, 115);
  text-align: center;
}

#info h2{
  padding-top: 5vmin;
  padding-bottom: 3vmin;
}

.info-detalhes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 7vmin;
}

.info-detalhes h3{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  grid-row: 1;
}

.info-detalhes p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
}

.horario{
  grid-column: 1;
  grid-row: 3;
}

#info img{
  opacity: .7;
}

/* Confirmar a Presenca */

#confirmar{
  background-color: #D6B39A;
  opacity:.8;
  color: white;
  text-align: center;
}

.confirmar-text{
  padding-top: 10vmin;
}

#confirmar p{
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  padding-top: 5vmin;
  text-decoration: underline;
}

.formulario{
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  padding-top: 5vmin;
}

.presenca{
  margin-bottom: 5vmin;
}

input[type="text"]{
  background: white;
  border: 1vmin solid #D6B39A;
  border-radius: 2vmin;
  width: 70vmin;
}

.mensagem{
  height: 30vmin;
  width: 70vmin;
  background: white;
  border: 1vmin solid #D6B39A;
  border-radius: 2vmin;
}

button{
  background: #F2E1E1;
  border: .5vmin solid #F2E1E1;
  border-radius: 1vmin;
  color: #ba9173;
  margin: 5vmin;
}

button:hover{
  background: white;
  border: .5vmin solid #D6B39A;
  border-radius: 1vmin;
  color: #D6B39A;
}

a i{
  font-size: 2rem;
  margin: 3vmin;
  color: white;
}

/* Footer  */

footer p{
  background: #ba9173;
  height: 20vmin;
  margin: auto;
  padding: 5vmin;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
}